%h2 要望・バグ報告

%p
  要望がありましたら
  %a{:href => "mailto:sandmark.M@gmail.com?subject=【棋譜こめったー】【要望】: "} こちら
  までどうぞ。

%p
  バグ報告に関しましては、できる限り当時の状況を詳しく書き添え、できれば棋譜なども添付してもらった上で、
  %a{:href => "mailto:sandmark.M@gmail.com?subject=【棋譜こめったー】【バグ】: "} こちら
  まで送付していただきたいです。ご迷惑をおかけしますがよろしくお願いいたします。

%p
  いずれもできる限り対応していきますが、都合により実装しない／できない場合があることをご了承していただければと思います。
  また、新機能の追加やバグ潰しに異様な時間がかかることがあるかも知れませんが、許してください。
  最後に、提案された案件についての実装をする義務は作者にはないものとします。
  とはいえ、繰り返しになりますが、できる限り対応していきます。
