%h2 使い方

%p
  今のところ「
  = link_to "はじめに", documents_readme_path
  」に書いてあるようなことしか説明できません。

%p
  基本的には棋譜の投稿です。

%p
  「マージ」も棋譜の投稿ですが、ターゲットの棋譜に対してコメントを合体させる、という点で違います。

%p
  さらに開発を進めた上で、ある程度できあがったと判断したらドキュメントを作成していきます。
  もしくは、誰か使い方を教えてください。
