%h2 利用規約・謝辞

%p
  投稿された棋譜は無条件で不特定多数に公開されます。棋譜を引用などする場合、著作権等については充分な注意を払って投稿してください。また、投稿された棋譜の著作権については原則的に投稿者にあるものとしますが、マージされている場合、有事の際は名前のあるユーザと協議して決定してください。匿名のユーザからのコメントを含む棋譜の著作権は、投稿者側に帰属するものとします。

%p
  CSSデザイン・レイアウトの90%以上は
  %a{:href => "http://www.css-designsample.com/", :target => "_blank"} CSS.Design Sample
  より拝借いたしました。

%p
  棋譜の再生には
  %a{:href => "http://f11.aaa.livedoor.jp/~uzway/flaban/", :target => "_blank"} フラ盤
  を使用させていただいています。

%p
  上記2つのリソースの製作者様に対して、この場を借りて感謝を申し上げます。

%p
  このサービスの提供・運用・開発は「棋譜こめったーの人」がひとりで行っていますが、要望・バグ報告などあればメールで投げてください。
  義務はないものとしますが、できる限り対応しようと思います。

%p
  また、このサービスを利用して発生した何如なる損失や損害について、サービスの作者は利用者および第三者に対して一切の責任を負わないものとします。