%h2 棋譜こめったーって？

%p
  ひとことで言えば、
  %ol{:style => "margin-left: 2em; margin-bottom: 5px; background-color: #edf"}
    %li 投稿されている棋譜をダウンロードして、
    %li
      %a{:href => "http://homepage2.nifty.com/kakinoki_y/", :target => "_blank"} Kifu for Windows
      などで開き、
    %li 自分なりのコメントを書き込んで、
    %li 投稿されている棋譜に「マージ」する
  といった使い方をするものです。

%p
  %b マージ
  というのはこの場合「合体させる」というような意味で、
  マージされた棋譜はコメント部分が合体し、
  複数人のコメントをワンタイムで読むことができるようになります。
  マージはひとつの投稿棋譜に対して何回でも行うことができます。

%p
  マージを行うと、マージされた棋譜のタイトルに（デフォルトでは） Rev.# といった文字列がつきます。
  Rev は Revision の略で、すが、作者もよくわかっていないので、詳しい意味は辞書で調べるかネットで検索エンジンにお尋ねください。
  Rev.# の # 部分には任意の数字が自動で割り当てられます。 Rev.1 なら、1度目のマージだ、ということを意味します。

%p
  また、それぞれの投稿棋譜にはコメント（野次）をつけることができます。
  手数を指定して、「棋譜にコメント」にチェックを入れてからコメントすると、
  自動的にマージしたことになります。
  が、
  %strong
    %font{:color => "red"}この機能はまだ実装されていません。
  （2010年12月17日現在）