%h2 ToDo

%p
  実装したい機能などをちらほら。

%ul
  %li
    %font{:color => "red"} 未着手[BUG]
    \: マージされた棋譜を表示する際に、名前の左に「:」という謎の文字列が入る
  %li
    %font{:color => "red"} 未着手
    \: 手数+コメントで棋譜にコメントする
  %li
    %font{:color => "red"} 未着手
    \: コメント表示をAjax化する
