%p#notice= notice if notice

%h2 投稿された棋譜

%p= link_to '投稿する！', new_kifu_document_path

%br

%div#kifu_documents
  - if @kifu_documents.blank?
    %p 投稿棋譜はありません。
  - else
    = render 'kifu_documents/kifu_documents'
= render 'kifu_documents/more'
